body {
  margin: 0;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://images.unsplash.com/photo-1639400439991-5ac84a6de289?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

@font-face {
  font-family: "Digital";
  src: local("Digital"),
  url('./fonts/Digital.ttf') format("truetype");
}

@font-face {
  font-family: "Neuropolitical";
  src: local("Neuropolitical"),
  url('./fonts/Neuropolitical.ttf') format("truetype");
}

@font-face {
  font-family: "Audi-Bold";
  src: local("Audi-Bold"),
  url('./fonts/Audi-Bold.ttf') format("truetype");
}

@font-face {
  font-family: "Benz-Bold";
  src: local("Benz-Bold"),
  url('./fonts/Benz-Light.ttf') format("truetype");
}

@font-face {
  font-family: "BMW-Bold";
  src: local("BMW-Bold"),
  url('./fonts/BMW-Bold.ttf') format("truetype");
}

#vehiclemodel {
width: 250px;
}

.navbar-brand{
  font-family: "Digital";
  letter-spacing: 20px;
  font-size: 222%;
}

.logo {
height: 50px;
width: 50px;
margin-left: 50px;
margin-right: 50px;
}

.mainlogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  max-height: 300px;
}

.audislogan {
  color: red;
  font-family: Audi-Bold;
  margin-top: 25px;
  text-align: center;
}

.bmwslogan {
  color: white;
  font-family: BMW-Bold;
  margin-top: 25px;
  text-align: center;
}

.benzslogan {
  color: black;
  font-family: Benz-Bold;
  font-weight:900;
  margin-top: 25px;
  text-align: center;
}

.title {
  font-family: "Digital";
  font-size: 1000%;
  font-weight: 550;
  letter-spacing: 15px;
}

.nav-logo {
  padding-left: 110px;
}

.navbar-nav{
  padding-left: 125px;
}

.secondarytitle {
  font-family: "Neuropolitical";
  font-size: 400%;
  color: white;
  text-align:center;
}

#dropdown-item {
font-size: large;
color: silver;
background-color: black;
}

.table {
  color: white;
}

.container{
  margin-top: 3%;
  vertical-align: middle;
}

.manufacturerheader{
  text-align: center;
}

h1, h2 {
  color: black

}

.frontpage {
  align-items:flex-end;
}

td {
  vertical-align: middle;
}

tr:hover {
  background-color: silver;
}


.thumbnail {
  width: 40px;
  height: 38px;
  display: inline-block;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
